#root {
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 2rem;
  background-color: rgb(252, 255, 240);
}

li {
  flex-direction: row;
  padding: 0;
  margin: 0;
  text-align: center;
  list-style-type: none;
}

.navbar {
  position: absolute;
  background-color: #fcffdf;
  width: 100%;
}

.boring-text {
  text-align: center;
  width: 35rem;
}

.contact {
  width: 20rem;
  resize: none;
}

textarea.contact {
  height: 20rem;
}

.project-grid {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
  gap: 1.5rem;
  margin: 0.5rem;
}
